---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div
  class="rounded-lg relative bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%] isolate">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
            <div class="grow w-full text-right">
        <h1 class="text-xl font-bold">
          <a href={url} target={target} class="absolute inset-0 z-10"></a>
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-start">
          {
            tags &&
              tags.map((tag) => (
                <a href={`${tag_url}/${tag}`} class="badge relative z-20 badge-outline">
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
{
        img && (
          <Image
            src={img}
            width={350}
            height={350}
            format="webp"
            alt={title}
            class="max-w-full object-fill md:max-w-[13rem] rounded-lg"
          />
        )
      }

    </div>
</div>
