---
import PostLayout from "@layouts/PostLayout.astro";
import type { BlogSchema } from "src/content/config";

const post: BlogSchema = {
  title: "ุงุณฺฉูุฑุจูุฑุฏ ููุง",
  description :"ูุชุงุฌ ฺฉู ูุณุงุจูุงุช ุชุง ุจู ุงูุงู",
  pubDate: new Date("2025-04-12"),
  heroImage: "https://api.iconify.design/material-symbols:scoreboard.svg?color=%23b36565"
};

---
<PostLayout
  title={post.title}
  description={post.description}
  pubDate={post.pubDate}
  heroImage={post.heroImage}
  updatedDate={post.updatedDate}
  badge={post.badge}
  tags={post.tags}
>
<iframe 
  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRVM38CMUyr_M_cI12zyYg3AzT5BnNl29acHhMxyoi2pgMBNp7qF5-fcNeLrwDydiLIxFjGEHzPoKa2/pubhtml?gid=711993548&single=true" 
  width="100%" 
  height="500"
    style="border:none;outline:none;">
</iframe>
  <a class="text-blue-500 text-center w-full" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRVM38CMUyr_M_cI12zyYg3AzT5BnNl29acHhMxyoi2pgMBNp7qF5-fcNeLrwDydiLIxFjGEHzPoKa2/pubhtml?gid=711993548&single=true">ุชู ุดุช ุจุจูุฏ</a>
  <hr>
<div class="scoreboard-criteria">
  <h2>๐ฏ ูุนุงุฑูุง ูุญุงุณุจู ุงูุชุงุฒ ุฏุฑ ุงุณฺฉูุฑุจูุฑุฏ</h2>

  <p>ุงูุชุงุฒ ููุง ูุฑ ุดุฑฺฉุชโฺฉููุฏู ุฏุฑ ูุณุงุจูุงุช ุจุฑ ุงุณุงุณ ูุนุงุฑูุง ุฒุฑ ูุญุงุณุจู ุดุฏู ุงุณุช:</p>

  <h3>โ ุงูุชุงุฒ ุจุฑ ุงุณุงุณ  ุฑุชุจู</h3>
  <ul>
    <li>๐ฅ ุฑุชุจู ุงูู: ถ ุงูุชุงุฒ</li>
    <li>๐ฅ ุฑุชุจู ุฏูู: ด ุงูุชุงุฒ</li>
    <li>๐ฅ ุฑุชุจู ุณูู: ฒ ุงูุชุงุฒ</li>
    <li>๐ ุฑุชุจู ฺูุงุฑู: ฑ ุงูุชุงุฒ</li>
  </ul>
  <hr>
  <h3>โ ุงูุชุงุฒ ุจุฑ ุงุณุงุณ ุนููฺฉุฑุฏ ุฏุฑ ุญู ุณูุงูุงุช</h3>
  <ul>
    <li>ุงููู ูพุงุณุฎ ุตุญุญ ุจู ฺฉ ุณูุงู: ฑ ุงูุชุงุฒ</li>
    <li>ูุฑ ูพุงุณุฎ ุตุญุญ ุฏฺฏุฑ (ุตุฑูโูุธุฑ ุงุฒ ุงูฺฉู ุงููู ุจุงุดุฏ ุง ูู): ฑ ุงูุชุงุฒ</li>
    <li>ุญุถูุฑ ุฏุฑ ูุณุงุจูู (ุญุช ุจุฏูู ุญู ุณูุงู): ฑ ุงูุชุงุฒ</li>
  </ul>
    <hr>
  <h3>โ๏ธ ูฺฉุชู ุฏุฑุจุงุฑู ูุฑุญูู ด ู ต:</h3>
  <p>
    ุฏุฑ ูุฑุงุญู ฺูุงุฑู ู ูพูุฌูุ ุจู ุฏูู ูุฑุณุฏู ุชุนุฏุงุฏ ุดุฑฺฉุชโฺฉููุฏฺฏุงู ุจู ุญุฏ ูุตุงุจุ
    ุงูุชุงุฒ ูุฑุจูุท ุจู <strong>ุฑูฺฉ</strong> ู <strong>ุงููู ูพุงุณุฎ ุตุญุญ</strong> ูุญุงุณุจู ูุดุฏู ุงุณุช.
    ุชููุง ููุงุฑุฏ ุฒุฑ ูุญุงุธ ุดุฏูโุงูุฏ:
  </p>
  <ul>
    <li>ุชุนุฏุงุฏ ุณูุงูุงุช ุญูโุดุฏู</li>
    <li>ุญุถูุฑ ุฏุฑ ูุณุงุจูู</li>
  </ul>
</div>

</PostLayout>

